@import "~styles/index.scss";

/* Блок команды */
.teamBlockWrapper {
  position: relative;
}

.teamBlock {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 64px;

  h3 {
    color: $black;

    font-family: $source-code-pro;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    text-align: left;

    margin-top: 100px;

    z-index: 90;

    @media screen and (max-width: 992px) {
      margin-top: 80px;
    }
  }

  .personsContainer {
    display: flex;
    justify-content: space-between;
    gap: 64px;

    width: 100%;

    z-index: 90;

    > * {
      z-index: 90;
    }

    @media screen and (max-width: 992px) {
      gap: 32px;
    }

    @media screen and (max-width: 576px) {
      flex-direction: column;
    }
  }
}
