@import "~styles/index.scss";

.casesList {
  margin: 0 calc((100vw - grid() - 40px) / -2);
  padding: 0 calc((100vw - grid() - 40px) / 2);

  // width: screen-width();

  // position: absolute;

  // margin-top: 110px;

  cursor: grab;

  :global(.simplebar-content) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 96px;

    &::before {
      display: none;
    }
  }

  :global(.simplebar-scrollbar)::before {
    background: $primary;
    opacity: 1;
  }

  :global(.simplebar-track.simplebar-horizontal .simplebar-scrollbar)::before {
    margin: 0 calc((100vw - grid() - 40px) / 2);
  }
}
