/* ATOMED */
@font-face {
  font-family: "Atomed";
  src: url(../assets/fonts/Atomed/Atomed.ttf);
  font-weight: normal;
}

/* MONTSERRAT */
@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat/Montserrat-Medium.ttf);
  font-weight: normal;
}

/* SOURCE CODE PRO */
@font-face {
  font-family: "Source Code Pro";
  src: url(../assets/fonts/SourceCodePro/SourceCodePro-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Source Code Pro";
  src: url(../assets/fonts/SourceCodePro/SourceCodePro-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: "Source Code Pro";
  src: url(../assets/fonts/SourceCodePro/SourceCodePro-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Source Code Pro";
  src: url(../assets/fonts/SourceCodePro/SourceCodePro-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Source Code Pro";
  src: url(../assets/fonts/SourceCodePro/SourceCodePro-Medium.ttf);
  font-weight: 500;
}
