/* основные цветы */
$primary-main: #7cdd63;
$secondary-main: #cc509c;
$info-main: #31b0d8;
/* $error-main: #CC509C;
  $warning-main: #CC509C;
  $success-main: #CC509C; */

/* цвета, которые могут меняться темой */
$primary: #b7f8a7;
$primary-100: #d2ffc7;
$primary-10: #efffeb;
$secondary: #d876ae;
$secondary-100: #ffa1d7;
$secondary-10: #fcd5eb;

/* Темная тема */
// $primary: #479933;
// $primary-10: #255c17;
// $primary-100: #337623;
// $secondary: #ca218a;
// $secondary-10: #790c50;
// $secondary-100: #991b69;

/* базированные цвета */
$black: #333333;
$white: #fff;

/* сетка */
$grid-horizontal: 315px;
$grid-horizontal-lg: 215px;
$grid-horizontal-md: 115px;
$grid-horizontal-sm: 15px;

// шрифты
$atomed: "Atomed";
$source-code-pro: "Source Code Pro", monospace;
$montserrat: "Montserrat", sans-serif;

// font-size
$base-size-large: 18px;
$base-size-medium: 14px;
$base-size-small: 12px;
